
.talic{
    position: relative;
    left: 50px;
}

.content {
position: relative;
display: flex;
flex-direction: row;
left: 650px;
margin-right: 40px;
}

.sociaal {
    position: relative;
    right: 50px;
}