
.talic{
    position: relative;
    left: 50px;
}

.content {
/* position: relative;
display: flex;
flex-direction:row;
left: 750px;
margin-right: 60px; */
margin-right: 60px;
margin-left: 40px;
display: flex;
justify-content: center;

}

.sociaal {
    position: relative;
    right: 50px;
}

.header-img {
    height: 100%;
}

.moretext{
    position: absolute;
     bottom: 40px;
     left: 140px;
   /*  display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center; */

}

.card-content {
    margin-left: 20px;
}

.cards {
    margin-top: 120px;

    
}
.card-text, .card-title {
    text-align: center;
}

.buton {
    display: flex;
    justify-content: center;
    align-items: center;
}


.explanation {
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    margin-top: 120px;
    margin-bottom: 120px;
}

.about-me {
    margin-top: 200px;
    text-align: center;
    margin-bottom: 100px;
}

@media only screen and (min-width: 961px) and (max-width:1205px ) { 
.moretext{
    position: absolute;
    bottom: 100px;
    left: 470px;
}
}
@media only screen and (min-width:1206px) and (max-width:1550px ) {
    .moretext{
        position: absolute;
        bottom: 80px;
        left: 705px;
    }

}


@media only screen and (min-width: 1551px) {
    .moretext{
        position: absolute;
        bottom: 100px;
        left: 900px;
    }

}

